.footer {

}

.footer .container {
  display: flex;
  flex-direction: column;

}

.footer__logo {
  align-self: center;
}

.main-nav {

}

.main-nav--footer {
  align-self: center;
}

.nav-list {

}

.nav-list__item {

}

.nav-list__item--current {

}

.social-networks {
  padding: 0;
  list-style-type: none;
  align-self: center;
  display: flex;
  justify-content: center;
  width: max-content;
}

.social-networks__facebook {

}

.social-networks__instagram {

}

.social-networks__twitter {

}

