.footer {

}

.container {

}

.footer__logo {

}

.main-nav {

}

.main-nav--footer {

}

.nav-list {

}

.nav-list__item {

}

.nav-list__item--current {

}

.social-networks {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.social-networks__facebook {

}

.social-networks__instagram {

}

.social-networks__twitter {

}

