.footer {
  background-color: $brown-op02;
}

.container {

}

.footer__list {
  display: flex;
  list-style-type: none;
  padding: 0 0 0 0;
  border: none;
}

.footer__list-item {
  width: 25%;
  padding: 0 10px;
}

.footer__list-title {
  text-align: center;
}

.footer__list-desc {

}

.footer__adress {

}

.footer__adress-link {

}

.footer__partner-link {

}

.footer__tel {

}

.footer__email {

}

.social-networks {

}

.social-networks__facebook {

}

.social-networks__instagram {

}

.social-networks__twitter {

}

.footer__down {

}

.footer__desc {

}

.footer__develop {

}

.footer__developer-name {

}
