.meditations-list {
  list-style-type: none;
  width: 375px;
  margin: 45px 0 0 0;
}

// .meditations-list__item {
//   min-height: 125px;
//   // border: 1px solid black;
//   border-radius: 10px;
//   margin: 0 0 64px 0;
// }

.meditations-list__title {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 18px;
  margin: 20px 37px 0 0;
  padding: 0 0 0 0;
  transition: all 0.6s;
}

.meditations-list__desc {
  font-family: "Arial";
  font-weight: 300;
  font-size: 15px;
  margin: 12px 0 0 0;
  padding: 0 21px 0 23px;
}

.meditations-list--left {
  text-align: right;
  padding: 0 0 0 0;

  .meditations-list__item {
    background:
      linear-gradient(270deg, #C3EEE8 26.37%, rgba(195, 226, 222, 0.75) 63.87%, rgba(231, 243, 242, 0.4) 103.6%) padding-box, /* background*/
      linear-gradient(270deg, #378377 -5.44%, rgba(176, 234, 226, 0) 104.61%) border-box; /* border*/
    border: 2px solid transparent;
    min-height: 125px;
    border-radius: 10px;
    margin: 0 0 64px 0;
    transition: all 0.6s;

    &:hover {
      .meditations-list__title {
        font-size: 21px;
        transition: all 0.6s;
      }
    }
  }

  .meditations-list__item:first-child {
    padding: 20px 0 10px 0;

    .meditations-list__title {
      margin: 0 0 0 0;
      padding: 0 33px 0 38px;
    }

    .meditations-list__desc {
      margin: 13px 0 0px 0;
      padding: 0 22px 0 62px;
    }
  }

  .meditations-list__item:nth-child(2) {
    padding: 31px 0 10px 0;

    .meditations-list__title {
      margin: 0 0 0 0;
      padding: 0 32px 0 38px;
    }

    .meditations-list__desc {
      margin: 10px 0 0 0px;
      padding: 0 23px 0 33px;
    }
  }

  .meditations-list__item:last-child {
    padding: 18px 0 10px 0;

    .meditations-list__title {
      margin: 0 0 0 0;
      padding: 0 39px 0 38px;
    }

    .meditations-list__desc {
      margin: 12px 0 0 0;
      padding: 0 24px 0 43px;
    }
  }
}

.meditations-list--right {
  text-align: left;
  padding: 0 0 0 0;

  .meditations-list__item {
    background:
      linear-gradient(to right, #C3EEE8 26.37%, rgba(195, 226, 222, 0.75) 63.87%, rgba(231, 243, 242, 0.4) 103.6%) padding-box,
      linear-gradient(to right, #378377 -4.86%, rgba(176, 234, 226, 0) 105.44%) border-box;
    border: 2px solid transparent;
    min-height: 125px;
    border-radius: 10px;
    margin: 0 0 64px 0;

    &:hover {
      .meditations-list__title {
        font-size: 21px;
        transition: all 0.6s;
      }
    }
  }

  .meditations-list__item:first-child {
    padding: 31px 0 10px 0;

    .meditations-list__title {
      margin: 0 0 0 0;
      padding: 0 38px 0 23px;
    }

    .meditations-list__desc {
      margin: 11px 0 0 0;
      padding: 0 38px 0 22px;
    }
  }

  .meditations-list__item:nth-child(2) {
    padding: 20px 0 10px 0;

    .meditations-list__title {
      margin: 0 0 0 0;
      padding: 0 38px 0 23px;
    }

    .meditations-list__desc {
      margin: 11px 0 0 0;
      padding: 0 38px 0 23px;
    }
  }

  .meditations-list__item:last-child {
    padding: 18px 0 10px 0;

    .meditations-list__title {
      margin: 0 0 0 0;
      padding: 0 38px 0 23px;
    }

    .meditations-list__desc {
      margin: 11px 0 0 0;
      padding: 0 46px 0 24px;
    }
  }
}



