.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 81px;
  margin: 0 0 0 0;
  padding: 0;

  &__item {
    font-weight: 300;
    font-size: 16px;
    line-height: 36px;
    margin: 0 0 0 16px;
    color: black;
    text-decoration: none;

    &:first-child {
      margin: 0;
    }
  }

  &__item--current {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: $darkgreen;
  }

  &__item:hover {
    color: $darkgreen;
  }
}

