.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 81px;
  margin: 16px 0 0 0;

  &__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 0 48px;
  }

  &__item--current {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: $darkgreen;
  }

  &__item:hover {
    color: $darkgreen;
  }
}

