.sound {
  background-color: $bgcolor;
}

.sound .container {
  display: flex;
  flex-wrap: wrap;
}

.sound__title {
  margin: 0 0 0 0;
  padding: 100px 0 0 0;
  text-align: center;
  width: 100%;
  font-family: "Kyiv";
  font-size: 34px;
  text-transform: uppercase;
}

.sound__desc {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size: 15px;
  padding: 0 129px;
  margin: 33px 0 20px 0;
}

.sound__img {
  display: block;
  width: 435px;
  height: 424px;
  margin: 34px 0 0 157px;
}
