$white: #ffffff;
$black: #000000;
$brown-op08: rgba(0 0 0 / 0.8);
$brown-op05: rgba(0 0 0 / 0.5);
$green: #7adbae;
$middlegreen: #3bd1bb;
$darkgreen: #1a7f72;
$greenbutton:#159685;
$lightgreen: #41cbb9;
$egreen: #81ebdb;
$gray: rgba(26 127 114 / 1);
$gradient-gray-white: linear-gradient(180deg, #b1aeb4 0%, rgb(177 174 180 / 0) 100%);
$bgcolor: #ddf4ee;
$ultitle: rgba(0 0 0 / 0.8);
$uldesc: rgba(0 0 0 / 0.5);
