@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Lobster&display=swap");
html {
  line-height: 1.15;
}

body {
  margin: 0;
}

main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: "PT Sans", "Arial", sans-serif;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

::-webkit-file-upload-button {
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.page__body {
  font-family: "Heebo", "Arial", sans-serif;
}

.container {
  margin: 0 auto;
  height: 100%;
  width: 1200px;
  padding: 0 93px 0 93px;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  box-shadow: 10px 0 19px -17px #000000, -10px 0 19px -17px #000000;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

body,
html {
  height: 100%;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.header__logo {
  position: absolute;
  margin: 2px 0 0 -2px;
}
.header .container {
  background-color: #ffffff;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 81px;
  margin: 16px 0 0 0;
}
.nav-list__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 0 48px;
}
.nav-list__item--current {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #1a7f72;
}
.nav-list__item:hover {
  color: #1a7f72;
}

.hero {
  min-height: 740px;
  background-image: url("../img/hero/background1200x707.png");
  background-repeat: no-repeat;
  background-position: center -76px;
  background-size: 1200px 739px;
  background-color: #ddf4ee;
}
.hero__title {
  text-align: center;
  font-family: "Lobster";
  font-size: 43px;
  padding: 42px 234px 0;
  margin: 0;
  line-height: 130%;
  letter-spacing: -1px;
  word-spacing: -1px;
  color: #ffffff;
}
.hero__desc {
  text-align: center;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding: 0 166px;
  margin: 12px 0 0 0;
}
.hero__link {
  display: block;
  margin: 33px auto 0;
  width: max-content;
  background-color: #159685;
  box-shadow: 0px 12.5px 25px rgba(21, 113, 101, 0.2);
  border-radius: 31.25px;
  padding: 12px 60px;
  color: #ffffff;
  font-family: "Arial";
  font-weight: 700;
  font-size: 19px;
}
.hero__img {
  margin: 17px auto 0;
}

.courses {
  background-color: #ddf4ee;
}

.courses-list {
  margin: 0;
  padding: 0 0 30px 0;
  display: flex;
  justify-content: space-between;
}

.courses-list__item {
  display: block;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 263px;
  height: 338px;
  border-radius: 9px;
  box-shadow: 18px 0 26px -40px #000000, -18px 0 26px -40px #000000;
}
.courses-list__item:first-child .courses-list__curv {
  max-width: 133%;
  width: 200%;
  margin: 11px 0 0 50px;
}
.courses-list__item:nth-child(2) .courses-list__curv {
  max-width: 137%;
  width: 200%;
  margin: 19px 0 0 50px;
}
.courses-list__item:last-child .courses-list__curv {
  max-width: 133%;
  width: 200%;
  margin: 11px 50px 0 0;
}

.courses-list__img {
  margin: 30px 0 0 0;
}

.courses-list__title {
  margin: 17px 0 0 0;
}

.courses-list__desc {
  padding: 0 30px;
  margin: 17px 0 0 0;
  font-family: "Arial";
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  min-height: 77px;
}

.courses-list__link {
  margin: 16px 0 0 0;
  background-color: #159685;
  box-shadow: 0 8px 17.5px rgba(26, 127, 114, 0.2);
  border-radius: 18px;
  padding: 9px 13px;
  color: #ffffff;
  font-family: "Arial";
  font-weight: 400;
  font-size: 15px;
}

.practice {
  background-color: #ddf4ee;
}

.practice .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.practice__title {
  margin: 0;
  padding: 33px 262px 0;
  text-align: center;
  font-family: "Lobster";
  font-size: 43px;
}

.practice__desc {
  padding: 0 262px 0;
  font-family: "Arial";
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}

.practice__img {
  margin: 44px 0 0 0;
  width: max-content;
  height: max-content;
}

.practice-list {
  width: 460px;
  padding: 0 0 0 34px;
  list-style-type: none;
  margin: 30px 0 0 61px;
}

.practice-list__item {
  position: relative;
  min-height: 148px;
  padding: 22px 45px 22px 25px;
  transition: all 1s;
}
.practice-list__item:first-child {
  margin: 0 0 0 0;
}
.practice-list__item:nth-child(2) {
  margin: 0 0 0 0;
}
.practice-list__item:last-child {
  margin: 0 0 0 0;
}
.practice-list__item:hover {
  background-color: #ffffff;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.practice-list__item:hover .practice-list__title,
.practice-list__item:hover .practice-list__desc {
  color: #81ebdb;
  transition: color 1.5s;
}
.practice-list__item:hover .practice-list__arrow-img {
  fill: #000000;
  transition: all 1s;
}
.practice-list__item:hover .practice-list__arrow-img:hover {
  fill: #41cbb9;
  transition: fill 1.6s, transform 1.6s;
  transform: scale(150%) translateX(-12px);
}
.practice-list__item:hover .practice-list__arrow-img:active {
  transition: transform 0.3s;
  transform: scale(150%) translateX(-12px) rotate(-10deg);
}

.practice-list__title {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Arial";
  font-weight: 1000;
  font-size: 20px;
  margin: 0;
  transition: color 1.5s;
}

.practice-list__desc {
  color: rgba(0, 0, 0, 0.5);
  margin: 15px 0 0 0;
  transition: color 1.5s;
}

.practice-list__link {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.sound {
  background-color: #ddf4ee;
}

.sound .container {
  display: flex;
  flex-wrap: wrap;
}

.sound__title {
  margin: 27px 0 0 0;
  padding: 0 0 0 0;
  text-align: center;
  width: 100%;
  font-family: "Lobster";
  font-size: 43px;
}

.sound__desc {
  text-align: center;
  font-family: "Arial";
  font-weight: 400;
  font-size: 15px;
  padding: 0 129px;
  margin: 13px 0 0 0;
}

.sound-list {
  margin: 64px 0 0 0;
  padding: 0 0 0 0;
  list-style-type: none;
}
/*# sourceMappingURL=style.css.map */